@font-face {
  font-family: roboto;
  src: url("../font/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}
.main-home h1 {
  padding-top: 140px;
  font-size: 70px;
  color: whitesmoke;
}
.home {
  background: url("../images/home.jpg");
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: gray;
  background-attachment: fixed;
}
.register {
  background: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: gray;
  background-attachment: fixed;
}
.feedback {
  background: url("../images/feedback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: gray;
  background-attachment: fixed;
}
.services {
  background: url("../images/services.jpg");
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: gray;
  background-attachment: fixed;
}
.navbar ul {
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  right: 0%;
  left: 0%;
  top: 0%;
}
.navbar ul li {
  padding: 30px;
  display: inline;
}
.navbar ul span {
  cursor: pointer;
}
.navbar ul li:hover {
  cursor: pointer;
  color: silver;
  transition: color ease-in 0.3s;
}
.Quote {
  background: url("../images/Quote.jpg");
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.footer ul li {
  padding-bottom: 10px;
  color: gray;
}
.footer {
  background: #eee;
}
.section {
  background: aliceblue;
}
.about {
  background: url("../images/about.jpg");
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: gray;
  background-attachment: fixed;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: whitesmoke;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #6aa1f4;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100vh;
}

/* General sidebar styles */
.bm-menu {
  background: rgba(0, 0, 0, 0.8);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding-bottom: 20px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.add {
  display: none;
}
.form {
  background: url("../images/feedback.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  background-color: gray;
}
.login,
.signup {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-blend-mode: lighten;
  background-color: gray;
  text-align: center;
  color: rgb(15, 131, 131);
}
.sidebar {
  width: 55px;
  background-color: rgb(55, 97, 121);
  height: 100vh;
  position: fixed;
  color: white;
  z-index: 1;
  top: 0;
}
.sidebar ul {
  list-style: none;
}
.sidebar li {
  padding: 15px;
  cursor: pointer;
}
.sidebar li:hover {
  background-color: teal;
}
.sidebar:hover {
  width: 150px;
  transition: width 0.2s ease-in;
}

.sidebar:hover span {
  display: inline;
}
.sidebar li span {
  position: absolute;
  padding-left: 15px;
  display: none;
}
.navbar1 {
  height: 50px;
  margin-left: 55px;
  position: fixed !important;
  z-index: 1;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  color: rgb(15, 131, 131);
}
.dashboard {
  margin-left: 70px;
  margin-top: 20px;
  text-align: center;
  color: rgb(15, 131, 131);
  margin-right: 15px;
}
.quiz {
  color: rgb(15, 131, 131);
}
.quiz:hover {
  background: linear-gradient(
    100deg,
    transparent,
    rgb(200, 235, 255),
    transparent
  );
}
.profile {
  margin-left: 70px;
  margin-top: 20px;
  text-align: center;
  color: rgb(15, 131, 131);
  margin-right: 15px;
}
.edit:hover,
.delete:hover {
  font-size: 25px !important;
}
.color {
  color: rgb(15, 131, 131);
}

@media screen and (max-width: 1125px) {
  .main-home h1 {
    font-size: 45px !important;
  }
  .main-home h5 {
    font-weight: normal !important;
    font-size: 25px !important;
  }
  .about h1 {
    font-size: 50px !important;
  }
  .about h3 {
    font-size: 25px !important;
  }
  .navbar ul span {
    display: none;
  }
  .add {
    display: block;
  }
  .subtract {
    display: none;
  }
  .bm-burger-button {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .width-input {
    width: 100% !important;
  }
}
